{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}
{% block main_content %}

  <!-- <link rel="stylesheet" href="/css/tui-editor.css"></link>
  <link rel="stylesheet" href="/css/tui-editor-contents.css"></link>
  <link rel="stylesheet" href="/css/codemirror.css"></link>
  <link rel="stylesheet" href="/css/github.min.css"></link>
  <script src="/js/tui-editor-Editor-full.js"></script> -->

  <!-- <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css"></link>
  <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css"></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css"></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css"></link>
  <script src="https://uicdn.toast.com/tui-editor/latest/tui-editor-Editor-full.js" id="tui-editor"></script> -->

  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src='/bower_components/markdown-it/dist/markdown-it.js'></script>
  <script src="/bower_components/to-mark/dist/to-mark.js"></script>
  <script src="/bower_components/tui-code-snippet/dist/tui-code-snippet.js"></script>
  <script src="/bower_components/codemirror/lib/codemirror.js"></script>
  <script src="/bower_components/highlightjs/highlight.pack.js"></script>
  <script src="/bower_components/squire-rte/build/squire-raw.js"></script>
  <script src="/bower_components/tui-editor/dist/tui-editor-Editor-all.js"></script>
  
  <link rel="stylesheet" href="/bower_components/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="/bower_components/highlightjs/styles/github.css">
  <link rel="stylesheet" href="/bower_components/tui-editor/dist/tui-editor.css">
  <link rel="stylesheet" href="/bower_components/tui-editor/dist/tui-editor-contents.css">

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h2 class="text-center">Add a new vulnerability</h2>
    </div>

    <div class="col-md-4 offset-md-2">
      <div class="card flex-md-row mb-4 box-shadow h-md-250 w-100">
        <div class="card-body d-flex flex-column align-items-start w-100">

          <form class="form w-100" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}

            <h4>Commit Links</h4>
            <div class="form-group">
              {% for l in form.commits %}
                {{ wtf.form_field(l.form.commit_link) }}
                {{ wtf.form_field(l.form.repo_name) }}
                {{ wtf.form_field(l.form.repo_url) }}
                {{ wtf.form_field(l.form.commit_hash) }}
              {% endfor %}
            </div>

            <h4>Description</h4>
            {{ wtf.form_field(form.comment) }}
            {{ wtf.form_field(form.cve_id) }}


            <h4>Misc</h4>
            <div class="form-group">
              {% for l in form.additional_resources %}
                {{ wtf.form_field(l.form.link) }}
              {% endfor %}
            </div>

            {{ wtf.form_field(form.submit, button_map={'submit':'primary'}) }}
          </form>

          {% if vulnerability_details.vulnerability_view %}
            <form class="form w-100" method="post" role="form"
                  onsubmit="return confirm('This will delete the complete entry, proceed?');">
              {{ form.hidden_tag() }}
              <input type="hidden" name="delete_entry" value="1"/>
              <input type="submit" class="btn btn-dark" value="Delete entry"/>
            </form>
          {% endif %}
          {#
          {{wtf.quick_form(form,
          button_map={'submit':'primary'},
          extra_classes="w-100",
          form_type="basic"
          )}}
        #}
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      {% include 'vuln_info.html' %}
    </div>
    <div class="col-md-8 offset-md-2">
      <div class="card flex-md-row mb-4 box-shadow h-md-250 w-100">         
        <div class="card-body">
          <h4>Writeup Editor</h4>
          <div id="markdown_editor"></div>
        </div>
      </div>
    </div>
    <script>
      var editor = new tui.Editor({
        el: document.querySelector("#markdown_editor"),
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        height: '800px',
        exts: [
          {
            name: 'chart',
            minWidth: 100,
            maxWidth: 600,
            minHeight: 100,
            maxHeight: 300
          },
          'scrollSync',
          // 'colorSyntax',
          'uml',
          'mark',
          'table'
        ]
      });
      editor.setValue("asdf");
      console.log(editor);
    </script>
  </div>



{% endblock %}
